@model BulkItemModel

@using DomainModule.Dto;
@{
    var EmptyOptions = new List<GenericDropdownDto>();
}
<div class="container-fluid">


    <div class="card">
        <div class="card-header">
            <form asp-action="BulkUpdate" asp-controller="Item" asp-area="Menu" method="get">

                <div class="row">
                    <div class="col-md-4">
                        <div class="h3 text-gray-800">
                            Bulk Update Item
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>Company</label>
                        @Html.DropDownList("companyId", new SelectList(ViewBag.Companies,"Id","Name"),"--Select--", new {@class="form-control required drop-down"})
                    </div>
                    <div class="col-md-3">
                        <label>Category</label>
                        <input type="hidden" id="SavedCategoryId" value="@Model.CategoryId" />
                        @Html.DropDownList("categoryId", new SelectList(EmptyOptions),"--Select--", new {@class="form-control required drop-down"})
                    </div>

                    <div class="col-md-2">
                        <button type="submit" class="btn btn-success mt-4">
                            <i class="fa fa-search"></i> Search
                        </button>
                    </div>
                </div>
            </form>

        </div>
        <div class="card-body">
            <form method="post" class="MenuForm" enctype="multipart/form-data">
                @if (Model.CategoryId > 0)
                {

                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-primary" id="add-item"><i class="fa fa-plus"></i> Add</button>
                            <br />
                            <br />
                            <table class="table table-bordered" border="1">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Description</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="item-body">
                                    @foreach (var data in Model.ItemCreateDtos)
                                    {
                                        @Html.Partial("Partial/ItemRow", data)
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <input type="button" class="btn btn-success" id="save_btn" value="Save" />
                            <a asp-action="Index" class="btn btn-primary">Back</a>

                        </div>
                    </div>
                }
                else
                {
                    <table class="table table-bordered">
                        <tr>
                            <td class="text-center">No Records Found</td>
                        </tr>
                    </table>
                }
            </form>

        </div>
    </div>
</div>


@section Scripts
    {
    <script>

        $(document).ready(function () {

            $("#item-body").on("click", ".remove-row", function () {
                event.preventDefault();

                $(this).closest("tr").remove();
            });

            $("#add-item").click(function () {
                event.preventDefault();
                var categoryId = $("#categoryId").val();
                var companyId = $("#companyId").val();
                if (categoryId == 0 || companyId == 0) {
                    ShowErrorNotification("Select Category and Company.");
                    return;
                }
                $.ajax({
                    url: '/Menu/Item/ItemRow',
                    type: 'GET',
                    data: { companyId: companyId, categoryId: categoryId },
                    success: function (html) {
                        $("#item-body").append(html);
                    },
                    error: function (error) {
                        console.log(error)
                        ShowErrorNotification(error.responseText);
                    }
                });
            });
            $("#companyId").on('change', function (e) {
                e.preventDefault();
                var companyId = $(this).val();
                if (companyId > 0) {
                    var savedCategoryId = $("#SavedCategoryId").val();
                    var url = '/api/menuCategory/GetCategoryOfCompany?companyId=' + companyId;
                    $.ajax({
                        method: 'GET',
                        url: url,
                        success: function (response) {
                            if (response.StatusCode == 200) {
                                var categories = response.Data;

                                $('#categoryId').empty();

                                for (var i = 0; i < categories.length; i++) {
                                    var category = categories[i];
                                    $('#categoryId').append($('<option>', {
                                        value: category.Id,
                                        text: category.Name
                                    }));
                                }
                                if (savedCategoryId > 0) {
                                    $('#categoryId').val(savedCategoryId)
                                }
                                $('#categoryId').select2();

                            } else {
                                ShowErrorNotification(response.Message);
                            }
                        },
                        error: function (error) {
                            console.log(error)
                            ShowErrorNotification(error.responseText);
                        }
                    });
                }
            })

            $("#save_btn").on('click', function (e) {
                e.preventDefault();
                let form = $(".MenuForm");
                form.validate();

                if (form.valid()) {

                    var dataArray = [];

                    $("#item-body tr").each(function () {
                        var item = {
                            Id: $(this).find('.Id').val(),
                            Name: $(this).find('.Name').val(),
                            Price: $(this).find('.Price').val(),
                            CompanyId: $(this).find('.CompanyId').val(),
                            Description: $(this).find('.Description').val(),
                            CategoryId: $(this).find('.CategoryId').val()
                        };

                        dataArray.push(item);
                    });


                    $.ajax({
                        method: 'POST',
                        url: '/api/Item/BulkUpdate',
                        contentType: 'application/json',
                        data: JSON.stringify(dataArray),
                        success: function (response) {
                            if (response.StatusCode == 200) {
                                ShowSuccessNotification(response.Message);

                                setTimeout(function () {
                                    location.reload()
                                }, 2000);

                            } else {
                                ShowErrorNotification(response.Message);
                            }
                        },
                        error: function (error) {
                            console.log(error)
                            ShowErrorNotification(error.responseText);
                        }
                    });

                }
            })

            $("#companyId").trigger('change');

        })
    </script>
}