.typewriter {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .typewriter h1 {
        width: 24ch;
        animation: typing 3s steps(27), blink .5s step-end infinite alternate;
        white-space: nowrap;
        overflow: hidden;
        border-right: 3px solid;
        font-family: monospace;
        font-size: 5vh;
    }

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: orange
    }
}


/*Image container*/
.image-container {
    position: relative;
    display: inline-block;
    margin: 10px;
    width: calc(30%);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    max-height: 300px;
    overflow: hidden;
}

    .image-container .remove-button {
        position: absolute;
        top: 0;
        right: 0;
        display: none;
        cursor: pointer;
        background-color: rgba(255, 0, 0, 0.7);
        padding: 5px;
    }

    .image-container:hover .remove-button {
        display: block;
    }

    .image-container img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

 /*menu*/
.menu-card {
    width: 195px;
    height: 285px;
    background: #313131;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    transition: 0.2s ease-in-out;
}


.menu-card-img {
    height: 30%;
    position: absolute;
    transition: 0.2s ease-in-out;
    z-index: 1;
}

.menu-card-textBox {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    transition: 0.2s ease-in-out;
    z-index: 2;
}

    .menu-card-textBox > .text {
        font-weight: bold;
    }

    .menu-card-textBox > .head {
        font-size: 20px;
    }

    .menu-card-textBox > .generate {
        font-size: 17px;
    }

   

.menu-card:hover > .menu-card-textBox {
    opacity: 1;
}

.menu-card:hover > .menu-card-img {
    height: 65%;
    filter: blur(7px);
    animation: anim 3s infinite;
}

@keyframes anim {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

.menu-card:hover {
    transform: scale(1.04) rotate(-1deg);
}